.lead {
    margin: 56px auto 0 auto;
    max-width: 984px;
    box-sizing: border-box;
}

@media (max-width:1279px) {
    .lead {
        max-width: 928px;
        margin-top: 48px;
    }
}

@media (max-width: 1023px) {
    .lead {
        max-width: 768px;
        margin-top: 48px;
    }
}

@media (max-width: 767px) {
    .lead {
        max-width: 767px;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .lead {
        max-width: 425px;
        width: 100%;
    }
}