.lead__subtitle {
    max-width: 640px;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin: 32px auto 64px auto;
}

@media (max-width:1279px) {
    .lead__subtitle {
    margin-bottom: 56px;
    }
}

@media (min-width: 425px) and (max-width: 767px) {
    .lead__subtitle {
      font-size: calc(16px + (30 - 16) * ( (100vw - 425px) / ( 767 - 425) ));
      line-height: 1.25;
      padding: 0 64px;
    }
  }

@media (max-width: 425px) {
    .lead__subtitle {
         width: 90%;     
         font-size: 16px;
         line-height: 20px;
         margin: 16px auto 40px auto;
         padding: 0 16px;
    }
}